/* Position close (x) button on top left and make in on the top left of the image*/
.close {
    position: absolute;
    top: 2%;
    left: 26%;
    color: black;
    font-size: 24px;
    cursor: pointer;
    font-size: x-large;
    z-index: 1; /* This makes sure that the x appears on top of the image */
}

/* Position previous and next buttons on top of the image */
.prev, .next {
    position: absolute;
    transform: translateY(-50%);
    color: black;
    font-size: 24px;
    cursor: pointer;
    z-index: 1; /* This makes sure that the x appears on top of the image as well */
}

.prev {
    left: 20%; /* Adjust left position to make it closer to the image */
}

.next {
    right: 20%; /* Adjust right position to make it closer to the image*/
}

/* I used this to center the arrows based on the image specifically  */
.modal-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

/* Makes sure that modal content (image) is behind the arrows and close button */
.modal-content {
    z-index: 0;
}


/* Hides body content when modal is open */
body.modal-open {
    overflow: hidden;
}

/* When the Modal is open, hides  */
body.modal-open .row {
    display: none;
}

#myModal {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: grey;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 4px solid Black;
    border-radius: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
.container {
    position: relative;
    max-width: 100%;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.container:hover .overlay {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
    .overlay {
        font-size: 20px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
    .overlay {
        font-size: 20px;
    }
}
